{
   "plugins": ["@trivago/prettier-plugin-sort-imports"],
   "tabWidth": 3,
   "trailingComma": "es5",
   "importOrder": ["^@/(.*)$", "^[./]"],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "printWidth": 110
}
